<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <form action="/toDoList" method="POST">
        <input type="text" placeholder="task" name="task">
        <select id="myDropdown" class="dropdown-content" name="taskType">
            <option value="personal">Personal</option>
            <option value="personal">Work</option>
            <option value="business">Business</option>
            <option value="other">Other</option>
        </select>
        <select id="myDropdown" class="dropdown-content" name="importance">
            <option value="high">High</option>
            <option value="medium">Med</option>
            <option value="low">Low</option>
            <option value="none"></option>
        </select>
        <button type="submit">Submit</button>
    </form>
    <ul class="toDoList">
        <% for(let i = 0; i < toDoList.length; i++) {%>
            <li class="taskList">
                <span><%= i+1 %> </span>
                <span> <%=toDoList[i].task%>  </span>
                <span> <%=toDoList[i].taskType%>  </span>
                <span> <%=toDoList[i].importance%>  </span>
            </li>    
        <% } %> 
    </ul>
</body>
</html>